@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(background.jpg) no-repeat center center/cover;
    overflow-x: hidden;
}


html {
    scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
    width: 6px;
}
.container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}



.container{
    border: 2px solid (0,0,0,0.3);
    max-width: 400px;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    align-items: center;
    border-radius: 15px;
    padding:25px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
}

.container:hover{
    transform: scale(1.02);
}

main{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover;
    box-shadow: 1px 2px 4px black;
    transition: all 0.2s ease;
}

.header img:hover{
    transform: scale(1.05);
}

.header h1{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: white;
    font-weight:600 ;
    text-shadow: 1px 2px 3px black;
    margin-bottom: 7px;
}

.header p{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.768);
    font-size: 15px;
    line-height: 1.2rem;
    word-spacing: 5px;
    font-weight: 400;
    text-shadow: 0 1px 2px rgba(255,255,255,0.5);
    margin: 0;
}

/* Link section */

.link-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

.link{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    border: none;
    outline: none;
    max-width: 100%;
    width: 100%;
    background: none;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button:hover{
    transform: scale(1.04);
    background-color:rgba(3, 139, 251, 0.656);
}

button img{
    width: 35px;
    height: 35px;
    display: flex;
    margin: 8px 16px;
    object-fit: contain;
}

button a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    width: 100%;
    justify-content: flex-start;
}
button p{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.link-section h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;   
    -webkit-text-stroke: 10px solid #222;
    text-align: center;
}

/* Media Queris */

/* laptop */
@media (max-width: 1100px){
    html{
        font-size: 70%;
    }

    .container{
        min-height: 100vh;
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .link-section {
        width: 100%;
        max-width: 85%;
        padding: 25px;
        margin: 0;
    }

    .header img{
        width: 160px;
        height: 160px;
    }

    .header h1{
        font-size: 50px;
    }

    .header p{
        font-size: 26px;
        margin-bottom: 30px;
    }

    .link-section h3{
        font-size: 35px;
        margin-bottom: 30px;
    }

    button{
        margin-bottom: 30px;
        max-width: 100vh;
        width: 100%;

    }

    button img{
        width:50px;
        height:50px;
    }

    button p{
        font-size: 28px;
    }
}

@media (max-width: 870px){
    html{
        font-size: 70%;
    }

    .container{
        min-height: 100vh;
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .link-section {
        width: 100%;
        max-width: 80%;
        padding: 20px;
        margin: 0;
    }

    .header img{
        width: 140px;
        height: 140px;
        margin-top: 6rem;
    }

    .header h1{
        font-size: 45px;
    }

    .header p{
        font-size: 27px;
        margin-bottom: 25px;
    }

    .link-section h3{
        font-size: 30px;
        margin-bottom: 30px;
    }

    button{
        margin-bottom: 30px;
        max-width: 100vh;
        width: 100%;

    }

    button img{
        width:50px;
        height:50px;
    }

    button p{
        font-size: 25px;
    }
}


@media (max-width: 600px){

    html{
        font-size: 60%;
    }

    .container{
        min-height: 100vh;
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .link-section {
        width: 100%;
        max-width: 80%;
        padding: 20px;
        margin: 0;
    }

    .header img{
        width: 120px;
        height: 120px;
        margin-top: 6rem;
    }

    .header h1{
        font-size: 28px;
        margin-bottom: 15px;
    }

    .header p{
        font-size: 20px;
        margin-bottom: 25px;
    }

    .link-section h3{
        font-size: 22px;
        margin-bottom: 30px;
    }

    button{
        margin-bottom: 30px;
        max-width: 100vh;
        width: 100%;

    }

    button img{
        width:40px;
        height:40px;
    }

    button p{
        font-size: 18px;
    }
}



@media (max-width: 480px){
    html{
        font-size: 60%;
    }

    .container{
        min-height: 100vh;
        height: 100%;
        max-width: 100vh;
        width: 100%;
        padding: 20px;
    }

    .link-section{
        width:100%;
        max-width: 100%;
    }

    .header img{
        width: 100px;
        margin-top: 2.5rem;
        height: 100px;
    }

    .header h1{
        font-size: 26px;
    }

    .header p{
        font-size: 17px;
        margin-bottom: 10px;
    }

    .link h3{
        font-size: 20px;
        margin-bottom: 18px;
    }

    .link-section h3{
        font-size: 20px;
        margin-bottom: 18px;
    }

    button{
        margin-bottom: 20px;
    }

    button p{
        font-size: 17px;
    }

    button img{
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 380px){
    html{
        font-size: 60%;
    }

    .container{
        min-height: 100vh;
        height: 100%;
        max-width: 100vh;
        width: 100%;
        padding: 20px;
    }


    .header img{
        width: 100px;
        margin-top: 1.5rem;
        height: 100px;
    }

    .header h1{
        font-size: 24px;
    }

    .header p{
        font-size: 16px;
    }

    .link h3{
        font-size: 20px;
    }

    .link-section h3{
        font-size: 20px;
    }

    button{
        margin-bottom: 20px;
    }

    button p{
        font-size: 15px;
    }

    button img{
        width: 30px;
        height: 30px;
    }

}
